@import './styles/about';
@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/skill';
@import './styles/services';
@import './styles/contact';
@import './styles/portfolios';
@import './fonts/COMMODORE-64-V6.3.TTF';
@font-face {
    font-family: "commodore";
    src: url('./fonts/COMMODORE-64-V6.3.TTF');
  }

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width:8px;
}

body::-webkit-scrollbar-thumb{
    background-color: #0056d865;
    border-radius: 50px;
}

body::-webkit-scrollbar-track{
    background-color: #777;
}

body{
color: rgb(236, 170, 3); 
font-family: 'commodore', sans-serif;
font-size: 1.2rem;
}

span{
    color: #69ff64; 
}

@media screen and (max-width: 1000px){
    html{
        font-size: 70%;
    }
}

@media screen and (max-width: 700px){
    html{
        font-size: 90%;
    }
}

@media screen and (max-width: 480px){
    h2{
        font-size: 70%;
    }
    h3{
        font-size: 70%;
    }
}
